.top-fav {
    background-color: #ffffff;
    z-index: 1000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dee1e3;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
}

.top-fav-size {
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    max-width: 100%;
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 25px;
    padding-left: 0;
    display: flex;
}

.top-fav-left {
    width: 50%;
    padding-right: 0px;
    padding-left: 0px;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: justify;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap: 40px;
}

.internal-nav-link {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    line-height: 19px;
    color: #686868;
    font-style: normal;
    white-space: nowrap;
    text-decoration: none;
}

.ct-link-text {
    display: inline-block;
}

.top-fav-right {
    width: 50%;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    align-items: flex-end;
    text-align: left;
    justify-content: flex-end;
}

.top-fav-right button {
    display: flex;
    text-align: left;
    align-items: center;
}

.btn-top-fav {
    background-color: #333333;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 12px;
    height: 40px;

}

.btn-top-fav a {


    background-color: #333333;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    text-decoration: none;
}

.download-broch {
    text-align: left;
    width: 100%;
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.055em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 8px;
    line-height: 16px;
    text-transform: uppercase;
}

.size-of-modal {

    padding-top: 75px;


    padding-right: 75px;
    height: 80%;
    background-color: #ffffff;
    position: relative;

}

.Download-product-text {
    text-align: left;
    width: 100%;
    color: #333333;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.05em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 13px;
    line-height: 105.5%;

}

.body-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 75%;
    padding-top: 75px;
    padding-bottom: 50px;
    padding-left: 75px;
    padding-right: 75px;
    height: 80%;
    background-color: #ffffff;
    position: relative;

}

#div_block-25334-352 {
    max-width: 100%;
    padding-left: 0px;
}

.ct-div-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.oxel_iconlist__row:not(.ct-section):not(.oxy-easy-posts),
.oxel_iconlist__row.oxy-easy-posts .oxy-posts,
.oxel_iconlist__row.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.oxel_iconlist__row {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    width: 100%;
    margin-top: 0px;
}

#fancy_icon-25336-352 {
    margin-right: 14px;
    margin-left: 0px;
}

div.ct-fancy-icon {
    display: inline-flex;
    border-radius: 50%;
}

.oxel_iconlist__row__icon {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #242424;

}